body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.arlinda-img
{
  max-width: 80%;
  height: auto;
  margin: 5% 0%;
}
.responsive
{
  max-width: 100%;
  height: auto;
}

.col-md-12
{
  padding: 0 !important;
}

.header-text
{
    font-size: 55px;
}
.header-absolute
{
  position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    font-weight: 900;
}


.header-text img
{
  width: 100%;
  height: auto;
}
.bg-2
{
  display: none;
}

/* [1] The container */
.img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    position: relative;
    z-index: 1;
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
    width: 100%;
    height: auto;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }

  .blue
  {
    background: black;
    padding: 2%;
    position: relative;
    z-index: 2;
    top: 34px;
    color: white;
    border-radius: 5px;
  }

  #loadMore:hover {
    color: black;
    background-color: #fff;
    border: 1px solid black;
    text-decoration: none;
    transition: .3s;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  .cards
  {
    display: none;
  }


  .card-title
  {
    color: black;
    font-weight: 600;
  }

  .cards button
  {
    padding: 0;
    background: none;
    border: 0;
    text-align: left;
    width: 95%;
  }

  .title 
  {
      font-size: 24px;
      color: black;
      padding-top: 2%;
  }

  .text 
  {
    font-size: 18px;
    color: grey;
  }

  #lists {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;

}
#lists a {
    text-decoration: none;
}
#payBorder {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.navbar {
    background-color: black
    ;
}
.nav-link {
    color: white!important;
}
.aboveNav {
    background-color: #FFFFFF
    ;
    margin: 0;
   
    border-bottom: 1px solid gray;
}
a {
    color: black!important;
}
#navmenu {
    justify-content: flex-end;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
#navContainer {
    max-width: 100%;
}
.dropdown-item {
    color: black!important;
}


#theFooter {
  background-color: #000000;
  color: #C2C2C2
  ;
}
#socialmedia {
  display: flex;
  justify-content: space-evenly;
}

.load-more
{
  margin-top: 2% !important;
  margin-bottom: 2%;
}

.sp-img img
{
  max-width: 100%;
  height: auto;
}

.blog-text
{
  background-color: #F3F3F3;
  border-radius: 20px;
  padding: 5%;
  box-shadow: -1px 7px 12px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 7px 12px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 7px 12px 1px rgba(0,0,0,0.2);

}



  
@media only screen and (max-width: 600px) {

.blog-mobile
{
  text-align: center !important;
}
.bg-1
{
  display: none;
}
.bg-2
{
  display: block;
  margin-top: -5px;
}
.header-text
{
  font-size: 40px;

}
.header-absolute
{
   position: absolute;
  top: 5%;
  left: 10%;
  width: 50%;
  text-align: left;
}
}
